@model IdeaDesignTask.Models.Physicalusers

<form method="post">
    <div class="border p-3 text-center">
        <h2 class="text-info pl-3">@Model.surname  @Model.name</h2>
        <div class="form-group row">
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">სახელი</th>
                    <th scope="col">გვარი</th>
                    <th scope="col">სქესი</th>
                    <th scope="col">პირადინომერი</th>
                    <th scope="col">დაბადების თარიღი</th>
                    <th scope="col">ქალაქი</th>
                    <th scope="col">მობილური</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">@Model.id</th>
                    <td>@Model.name</td>
                    <td>@Model.surname</td>
                    <td>@Model.sex</td>
                    <td>@Model.personalid</td>
                    <td>@Model.date</td>
                    <td>@Model.city</td>
                    <td>@Model.phonenumber</td>
                </tr>
            </tbody>
        </table>
        <br /> <br /><br />
        <div class="col-3">
            <a asp-action="Index" class="btn btn-success w-100 "><i class="fas fa-backspace"></i> &nbsp; დაბრუნება</a>
        </div>
    </div>
</form>
